*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:hwb(172 17% 23%);
    color: white;
}
p{
    font-size: 20px;
}
h1{
    color:rgb(14, 33, 51);
}
section{
    padding: 15px;
}