*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(85, 84, 84);
    color: white;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#root{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
p{
    font-size: 20px;
}
h1{
    color:rgb(100, 171, 236);
    text-decoration-line: underline;
}
section{
    padding: 15px;
}
